    <div class="row form-back form-pad">
    <div class="col-lg-1"></div>
    <div class="col-lg-3 modal-dialog mod-pos">
        <div class="modal-content" id="modal-9">
            <div class="modal-header mod-mail-head">
                <h3 class="modal-title">Post A Project</h3>
            </div>
            <div class="modal-body modal-body-style-1">

                <br /><input id="inid1" class="in-style input-style form-control" type="text" placeholder="Project Name" /><br />
                <input id="inid2" class="in-style input-style form-control" type="email" placeholder="Email" /><br />
                <input class="in-style input-style form-control" type="number" placeholder="Price" /><br />
                <input class="in-style input-style form-control" type="date" placeholder="Schedule" /><br />
                <textarea id="inid3" class="in-style input-style form-control" placeholder="Job Describtion" rows="6"></textarea> <br /><br />
            </div>
            <div class="modal-footer mod-foot">
                <a href="#" id="put" class="put-in btn btn-success" data-toggle="modal" data-target="#modal-7" data-dismiss="modal">POST</a>
            </div>
        </div>
    </div>
</div>