<style>
    .section-head {
        color: #283345;
        text-align: left;
        font-family: Cabin;
    }

    .head {
        color: #283345;
        font-family: Cabin;
        text-align: left;
        font-size: 45px;
    }

    .joby-info {
        color: black;
        font-size: 15px;
        text-align: left;
        font-family: Cabin;
    }
</style>


<br /><br />
<br /><br /><br />
<section class="container">
    <div class="head">
        <h3 class="head">WHO ARE WE ?</h3><hr />
    </div>
    <ul>
        <li>
            <h3 class="section-head">WE'RE JOBY...</h3><br />
            <p class="joby-info">At JOBY You can find the best team ever to help you finish your work in the best way, with the best price.</p>
        </li>
        <br />
        <li>
            <h3 class="section-head">LOOKING FOR A PROJECT MANAGER ?</h3><br />
            <p class="joby-info">You can contact the PM directly to settle all details including (price - deadline - requirments - functionalities) related to your project and get him onboard.</p>
        </li>
        <br />
        <li>
            <h3 class="section-head">OUR JUNIOR DEVELOPERS !</h3><br />
            <p class="joby-info">We have the best of developers in our team with a very good experience in all fields, they can help you with their experience to get your work finished correctly.</p>
        </li>
        <br />

        <li>
            <h3 class="section-head">Need Business Advice ?</h3><br />
            <p class="joby-info">Contact our Business team, for the best advice for you and your company.</p>
        </li>
        <br />

    </ul><hr />

</section>


@section footer{
    <footer class="row subsection subsection-three navbar-fixed-bottom">
        <div style="padding-top:20px;padding-bottom:20px;color:#B99867;background-color:#283345;" class="col-lg-12">All Copyrights Reserved 2017 | JOBY Development Team.</div>
    </footer>
}