
@{ 
    ViewBag.Title = "Main Page";
}





@section footer{
    <footer class="row subsection subsection-three">
        <br />
        <div class="col-xs-2"></div>
        <div id="Bchanged" class="in-position col-xs-3">
            <br /><br /><input class="subscribe in-style input-style form-control" type="email" placeholder="Search" />
        </div>
        <div class="col-xs-1">
            <br /><br /><button class="subscribe-button">Search</button><br />
        </div>
        <div class="col-lg-12 copyright-message">All Copyrights Reserved 2017 | JOBY Development Team.</div>
    </footer>
}

<div class="row secOne">
    <h1 class="banner">YOU LOOKING FOR A DEVELOPER ?<br />JOBY IS AT YOUR SERVICE!</h1>
    <button class="slide-down">Get Started</button>
</div>

<!-- ***************************** End First Row ******************************** -->

<div class="row subsection-one" id="#goto">
    <div class="coll-place">
        <p class="collection">OUR CATEGORIES</p>
        <img class="target" src="~/Bikes/Camera.png" width="155px" height="155px" />
        <img class="target" src="~/Bikes/Economic.png" width="155px" height="155px" />
        <img class="target" src="~/Bikes/Writing.png" width="150px" height="150px" /><br />
        <a href="Shop.html"><button class="view-collection">VIEW MORE</button></a>
    </div>
</div>

<!-- ***************************** End Second Row ******************************** -->

<div class="row no-gutter back-color">
    <div class="col-lg-6 ">
        <img class="img-responsive" src="~/Bikes\DarkMain.jpg" />
    </div>
    <div class="col-lg-1 padel-position">
    </div>
    <div class="col-lg-4 duty">
        our duty is to help<br /></b>you finish your job in<br />a simple &amp; easy way<br />&amp; offer you the best price</b>.<br />
        <button class="read-button">About Us</button>
    </div>
</div>

<!-- ***************************** End Third Row ******************************** -->

<div class="row subsection3">
    <p class="speach-text"><b>"</b><br />JOBY is the best place to find the job that fits<br />with the best salary &amp; lowest fees.</p><br />
</div>

<!-- ***************************** End Forth Row ******************************** -->

<div class="row no-gutter gutter-back">
    <div class="col-sm-7"></div>
    <div class="col-sm-5">
        <p class="img-text">JOBY Is Always Trying To Help<br />Every Business Owner<br />&amp; Every Worker To Find What<br />Is Fits To All Of Them!</p>
        <br /><br /><h1 class="img-head">JOBY AT YOUR SERVICE!</h1>
    </div>
</div>
<!-- ***************************** End Fifth Row ******************************** -->
