
@using (Html.BeginForm("Profile", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div style="border:2px solid;border-radius:25px">

        
        <div class="editor-field" style="margin-left:170px;margin-top:25px">
            <input name="Profile" id="profile" type="file"  />
        </div>
        <p>
            <input type="submit" value="Upload" style="margin-top:20px" />
        </p>
    </div>

    }