
@section footer{
    <footer class="row subsection subsection-three">
        <br />
        <div class="col-xs-2"></div>
        <div id="Bchanged" class="in-position col-xs-3">
            <br /><br /><input class="subscribe in-style input-style form-control" type="email" placeholder="Search" />
        </div>
        <div class="col-xs-1">
            <br /><br /><button class="subscribe-button">Search</button><br />
        </div>
        <div class="col-lg-12 copyright-message">All Copyrights Reserved 2017 | JOBY Development Team.</div>
    </footer>
}

